@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%,22%);

    --Font-size: 15px;
    

}
body{
    background-color: var(--Light-gray);
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
.main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    max-width: 300px;
    background-color:var(--White);
    border-radius: 18px;
    display: flex;
    flex-direction:column;
    align-items: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    

}
.image{
    max-width: 100%;
    border-radius: 10px;
    display: block;
    
}
h4{
    color: var(--Dark-blue);
    font-size: 20px ;
}
.text{
    width: 260px;
    height: auto;
    text-align: center;
}
p{
    color: var(--Grayish-blue);
}